/*bootstrap overrides*/
.container{
	width: 950px;
}

.btn{
	
	border-radius: 0px;
}

hr{
	margin-top: 10px;
	margin-bottom: 5px;
}

.pagination a{
	color: black;
}

.pagination > li:first-child > a{
	border-radius: 0px;
}

.pagination > li:last-child > a{
	border-radius: 0px;
}

.pagination > .active > a{
	background-color: #ed9c28;
	border-color: #d58512;
}

.pagination > .active > a:hover{
	background-color: #ed9c28;
	border-color: #d58512;
}

a{
	color: black;
}

/*****end bootstrap overrides**********/

/****words css***/
.custom-word{
	padding: 7px 20px 7px 20px;
}

.custom-pagination{
	margin-left: 20px;
}

.custom-date{
	font-style: italic;
}

.custom-active{
  color: ##FF9B44;
  background-color: #FFB951;
  border-color: #FFC303;
}

.custom-searchPanel{
	margin-top: 40px;
}

.custom-fontSize{
	padding:10px 8px;
	font-weight: bold;
	font-size: 20px;
}

.custom-menu{
	margin-top: 10px;
}

.custom-menu a{
	margin-right: 10px;
	padding: 10px 20px 10px 20px;
}

.custom-logo{
	width: 450px;
	height: 100px;
}

.custom-subMenu{
	margin-top: 5px;
	font-size: 4px;
	padding: 0px;
	margin-left: 13px;
}

.custom-subMenu a{
	color: black;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 4px;
}


.custom-bigFatSearch{
	font-size: 20;
}

/*custom-main-workplace*/
.custom-main-workplace{
	border-right: 1px solid #eeeeee;
}

/* sidebar mailing list */
.custom-mailing-list input{
	margin-right: 10px;
	padding: 0px 5px 0px 5px;
}

.custom-mailing-list{
	text-align: center;
}